* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #160647;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
	background-image: url(../images/strip.png);
	background-repeat: no-repeat;
	background-position: 101% 87%;
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #160647;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Circular-Std-Regular", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1100px;
}
@font-face {
	font-family: 'Circular-Std-Regular';
	src:url('../fonts/CircularStd-Regular.woff2') format('woff2');
	src:url('../fonts/CircularStd-Regular.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Circular-Std-Bold';
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal
}
#home{

}
#home section#wrapper{
	/*max-width: 1100px;
	margin: 0 auto;
	width: 80%;
	padding: 100px 0;*/
}
#home section#wrapper header{

}
#home section#wrapper header section#head{
	display: flex;
	justify-content: space-between;
	/*padding: 30px 40px 0;*/
	text-align: center;
	align-items: center;
}
#home section#wrapper header section#head div.left{

}
#home section#wrapper header section#head div.middle{

}
#home section#wrapper header section#head div.right{

}
#home section#wrapper header section#head div.left a.logo{

}
#home section#wrapper header section#head div.left a.logo h1{

}
#home section#wrapper header section#head div.left a.logo h1 img{
	padding-left: 100px;
}
#home section#wrapper header section#head div.middle ul.navs{
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;

}
#home section#wrapper header section#head div.middle ul.navs li.items{
	margin: 30px;
	padding: 12px 0;
}
#home section#wrapper header section#head div.middle ul.navs li.items a.itemLnk{
	display: inline-block;
	font-size: 21px;
}
#home section#wrapper header section#head div.middle ul.navs li.items a.itemLnk:hover{
	border-bottom: 1px solid #160647;
}
#home section#wrapper header section#head div.right ul.buttons{
	display: flex;
	justify-content: space-between;
	text-align: center;
	text-align: center;
}
#home section#wrapper header section#head div.right ul.buttons a.login{
	margin: 30px;
	display: inline-block;
	font-size: 21px;
	padding: 12px 0;
}
#home section#wrapper header section#head div.right ul.buttons a.signup{
	margin: 30px;
	background-color: #160647;
	color: white;
	height: 50px;
	width: 120px;
	display: block;
	padding: 12px 0;
	border-radius: 10px;
	font-size: 20px;
}
#home section#wrapper section#spotlight{
	padding-top: 150px;
}
#home section#wrapper section#spotlight div.caption{
	text-align: center;
}
#home section#wrapper section#spotlight div.caption h1{
	font-size: 101px;
	font-family: "Circular-Std-Bold"
}
#home section#wrapper section#spotlight div.caption p{
	font-size: 24px;
	font-family: "Circular-Std-Bold";
	margin-top: 20px;
}
#home section#wrapper section#content{
		padding-top: 100px;
}
#home section#wrapper section#content ul.desc{
	display: flex;
	justify-content: center;
}
#home section#wrapper section#content ul.desc li.items{
	margin: 10px;
}
#home section#wrapper section#content ul.desc li.items img{
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1),0 0 10px 0 rgba(0,0,0,0.1);
	border-radius: 15px;
}
#home section#wrapper section#content ul.desc li.items h3{
	font-size: 47px;
	font-family: "Circular-Std-Bold";
	padding-top:50px;
}
#home section#wrapper section#content ul.desc li.items p{
	font-size:20px;
	padding-top: 10px;
}






