* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #282A39;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
	background-color: #ffdeee;
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #282A39;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Circular-Std-Regular", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1100px;
}
@font-face {
	font-family: 'Circular-Std-Regular';
	src:url('../fonts/CircularStd-Regular.woff2') format('woff2');
	src:url('../fonts/CircularStd-Regular.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Circular-Std-Bold';
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal
}
.main{

}
.main div.heading{
	font-size: 28px;
}
.main div.heading h2{
	padding: 150px;
}
.main div.content{
	
}
.main div.content ul.desc{
	display: flex;
	justify-content: space-between;
}
.main div.content ul.desc li.items{
	position: relative;
	margin-top: 250px;
	padding-left: 80px;
	}
.main div.content ul.desc li.items:nth-child(2){
	top: -350px;
}
.main div.content ul.desc li.items:nth-child(3){
	top: -450px;
}
.main div.content ul.desc li.items img{
	
}
.main div.content ul.desc li.items h4{
	font-size: 23px;
	color: black;
	font-family: "Circular-Std-Bold"
}
.main div.content ul.desc li.items p{
	border-bottom: 1px solid #ffabd4;
	padding: 20px 0;
	font-size: 20px;
	font-family: "Circular-Std-Regular";
	color: #282a39;

}
