* 
{
	margin: 0;
	padding: 0;
}

#home 
{
	background-color: #ffbfbf;
	display: flex;
	justify-content: center;
	color: white;
	align-items: center;
	height: 100vh;
}

h1
{
	font-weight: bold;
	font-size: 50px;
}

#middle
{
	background-color: #8e64ff;
	display: flex;
	justify-content: center;
	color: white;
	text-align: center ;
	height: 90vh;	
}

#middle section.mid
{
	display: flex;
	text-align: center;
	padding-bottom: 100px;
	padding-top: 100px;
}


#middle section.mid section.left 
{
	display: flex;
	flex-direction: column;
    background-color: white;
 	margin-right: 100px;
 	width: 570px;
    justify-content: center;
}

h3
{
	color: #000;
	padding: 10px;
}

p
{
	color: black;
	padding: 10px;
}

a
{
	padding: 10px;
}

#middle section.mid section.right 
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
		
div
{
	display: flex;
	flex-direction:column;
	height: 150px;
	width: 400px;
	margin-bottom: 50px;
	background-color: #fff;
}
div.item3{
	margin-bottom: 0px;
}


#gallery
{
	background-color: green;
	padding: 100px;	
}

#gallery section.pics ul
{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

#gallery section.pics ul li 
{
    background-color: #fff;
    width: 14%;
    height: 200px;
    margin : 20px;
}

p.fright
{
text-align: center;	
}

p.fleft
{
text-align: center;	
}
.button
{
	height: 40px;
	background: white;
	outline: 2px solid #e4e4e4;
	margin:50px 230px;
	width:80px; 
}
