* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}
/*img,a{
	display: block;
}*/
a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Circular-Std-Regular", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 150px;
	max-width:1100px;
	padding: 0 10px;
}
@font-face {
	font-family: 'Circular-Std-Regular';
	src:url('../fonts/CircularStd-Regular.woff2') format('woff2');
	src:url('../fonts/CircularStd-Regular.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Circular-Std-Bold';
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal
}
.home{

}
.home header{
	padding-top: 20px;
	font-size: 21px;
}
.home header section.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home header section.head h1{
	
}
.home header section.head h1 a{
	
}
.home header section.head h1 a img{
	margin-left: 100px;
}
.home header section.head div.left{
	
}
.home header section.head div.right{
	display: flex;
	justify-content: space-between;
}
.home header section.head div.left nav{
	
}
.home header section.head div.left nav ul{
	display: flex;
	justify-content:space-between;
}
.home header section.head div.left nav ul li.items{
	margin: 20px;
}
.home header section.head div.left nav ul li.items a{
	display: inline-block;
	font-family: "Circular-Std-Regular";
	font-size: 21px;
	color: #a7a7a7;
}
.home header section.head div.right a#login{
	padding-top: 15px;
	margin-right: 50px;
}
.home header section.head div.right a#signup{
	color:#0000ff;
	display: block;
	border-radius: 30px;
	border:1px #1C2C40 solid;
	height: 50px;
	width: 160px;
	text-align: center;
	padding-top: 10px;
	margin-right: 50px;
}
.home section.wrapper{
	display: flex;
	justify-content: space-between;
}
.home section.wrapper div.lefts{
	padding-bottom: 0;
	margin-bottom: 0;
}
.home section.wrapper div.lefts h1{
	font-size: 87px;
	font-family: "Circular-Std-Bold";
	margin-top: 300px;
}
.home section.wrapper div.lefts p{
	font-size: 25px;
	margin-top: 30px;
	font-family: "Circular-Std-Bold";
}
.home section.wrapper div.lefts a{
	margin-top: 50px;
	display:inline-block;
	background-color: #0000ff; 
	color: #fff;
	height: 80px;
	width: 230px;
	border-radius: 50px;
	text-align: center;
	padding-top: 30px;
}
.home section.wrapper div.lefts ul{
	margin-top: 80px;
}
.home section.wrapper div.lefts ul li{
	margin:30px 0;
}
.home section.wrapper div.lefts ul img{
	display: inline-block;
	position: relative;
	top: 6px;
}
.home section.wrapper div.rights{
	position: relative;
}
.home section.wrapper div.rights div.color-content{
	width: 618px;
	height:874px;
	background-color: #c1c1c1;
	position: absolute;
	right: -600px;
	bottom: 0px; 
}
.home section.wrapper div.rights img#mesh{
	position: absolute;
    right: -460px;
    bottom: 80px;
}
.home section.wrapper div.rights img#ims{
	position: absolute;
    right: -425px;
    bottom: 115px;
}
.home section.wrapper div.rights div.text-content{
    right: -156px;
    position: absolute;
    bottom: 115px;
    background-color: #00002f;
    color: #fff;
    padding: 20px;
    width: 486px;
    height: 253px;
}
.home section.wrapper div.rights div.text-content p.quotes,.home section.wrapper div.rights div.text-content p.author{
	padding:30px;
	font-family: "Circular-Std-Bold";
	font-size: 21px;
}
.home section.wrapper div.rights div.text-content p.author{
	padding:0 30px;
}
.home section.wrapper div.rights div.text-content p.author small{
	color: grey
}
.home section.wrapper div.rights img#quote{
	position: absolute;
    right: 305px;
    bottom: 327px;
}