* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p{
    font-family: "open_sanslight"
}
input,textarea,select{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: #333;
}
a:hover,.submit:hover{
    filter: alpha(opacity = 85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
ol, ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #333;
    overflow-x: hidden;
    min-width: 320px;
}
.thumb{
    display: block;
}
.thumb img{
    display: block;
    width:100%;
}
p{
    line-height:1.6em;
    font-size: 16px;
    font-family: Arial;
}
.hidden{
    display:none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width:1200px;
}
#home{
    background: #d1a223;
    padding: 2% 0 7%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    width: 80px;
}
header h1 a{
   display: block;
}
header h1 a img{
    width: 100%;
}
header nav{

}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin-right: 35px;

}
header nav ul li:last-child{
     margin-right: 0px;
}
header nav ul li a{
    color: white;
    font-family: "open_sansregular";
    font-size: 18px;
}
#spotlight{
    margin-top: 15%;
    text-align: center;
}
#spotlight h1{
    font-size: 50px;
    font-family: "open_sanssemibold";
    color: #fff;
}
#spotlight p{
    margin: 20px 0;
    color: #fff;
    font-family: "open_sanslight";
    width: 80%;
    margin: 0 auto;
}
#spotlight a.button{
    color:#fff;
    font-size: 18px;
    background-color: #2d2d2d;
    font-family:"open_sansregular";
    padding: 20px 55px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 30px;
}
#about{   
    background-color: #2d2d2d;
    color:#fff;
    display: flex;
}
#about section.widget /*(common class for widget)*/
{
    width: 33.33%;
    padding: 100px 60px;
    text-align: center;
}
#about section.widget.middle /*(specific class for widget-middle)*/
{
    border-left: 1px solid #d1a223;
    border-right: 1px solid #d1a223;
    background-color: #262626;
}
#about section.widget.last /*(specific class for widget-last)*/
{

}
#about section.widget span.round-icon{
    width: 120px;
    height: 120px;
    border: 2px solid #d1a223;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto
}
#about section.widget span.round-icon small{
    width: 80px;
    height: 86px;
    background-image: url(../images/sprite.png); /*use GIMP to exactly locate the image from sprite(ie group of images)*/
    background-position: -161px -78px; /*-sign to indicate position away from (x,y)*/
    display: inline-block;
}
#about section.widget.middle span.round-icon small{
    /*use GIMP to exactly locate the image from sprite(ie group of images)*/
    background-position: 3px -74px; /*-sign to indicate position away from (x,y)*/
    }
#about section.widget.last span.round-icon small{
    /*use GIMP to exactly locate the image from sprite(ie group of images)*/
    background-position: -75px -74px; /*-sign to indicate position away from (x,y)*/
    }
#about section.widget h3{
    font-size: 45px;
    color: #d1a223;
    margin: 10px 0;
}
#about section.widget p{

}
#middle{
    padding: 70px 0;
}
#middle div.head{
    text-align: center;
    margin-bottom: 60px;
}
#middle div.head h2{
    color: #FBC641;
    font-size: 40px;
    font-family:"open_sanssemibold"
}
#middle ul{
    display:flex;
    justify-content: space-between;
}
#middle ul li.card{
    width: 48%;
    text-align: center;
    padding: 60px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1),0 0 010px 0 rgba(0,0,0,0.1);
}
#middle ul li.card a{
    display: block;
}
#middle ul li.card a img{
    width: 90px;
}
#middle ul li.card h3{
    text-transform: uppercase;
    font-size: 30px;
    color: #FBC641;
}
#middle ul li.card h3 a{
    display: block;
    color: #FBC641;
    font-family: "open_sanssemibold";
    margin: 10px 0 15px;
}
#middle ul li.card p{
    color:#a6a9aa;
    margin-bottom: 15px;

}
#middle ul li.card a.button{
    display: inline-block;
    padding: 20px 55px;
    border-radius: 30px;
    color:#fff;
    background-color: #FBC641;
}
#main{

}
#main section.content-item section.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
#main section.content-item.bg{
    background-color: #FBC641;
}
#main section.content-item img.left{
    width: 35%;
}
#main section.content-item img.right{
    width: 50%;
}
#main section.content-item div.right{

}
#main section.content-item div.left{

}
#main section.content-item div.right h3{
    margin-bottom:30px;
    font-size: 40px;
}
#main section.content-item.bg div.right h3{
color: #fff;
}
#main section.content-item div.right p{
}
footer{

}
footer section.top{
    padding: 60px 0;
background-color: #2d2d2d;
}
footer section.top section.wrapper{
    display: flex;
    justify-content: space-between;
}
footer section.top section.wrapper div.item{
    width: 30%;
    text-align: center;
}
footer section.top section.wrapper div.item img{
    width: 30px;
    display:block;
    margin: 0 auto;
    margin-bottom: 20px;
}
footer section.top section.wrapper div.item a{
    color: white;
}
footer section.top section.wrapper div.item p{
    color: white;
}
footer section.bottom{
background-color: #000
}
footer section.bottom section.wrapper{
    display: flex;
    justify-content: space-between; 
}
footer section.bottom p.left{
    color: white;
}
footer section.bottom p.right{
    color: white;
}
footer section.bottom p.right a{
    color: white;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
