* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
	background-image: url(../images/bg.png);
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Circular-Std-Regular", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:980px;
}
@font-face {
	font-family: 'Circular-Std-Regular';
	src:url('../fonts/CircularStd-Regular.woff2') format('woff2');
	src:url('../fonts/CircularStd-Regular.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Circular-Std-Bold';
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal
}
::placeholder {
  color:#D3CFCB;
}
header{
padding: 0 50px;
}
header #header{
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	padding: 0 150px;
}
header section#header div.right{
	
}
header section#header div.right ul{
	display: flex;
	justify-content: space-between;
	color: white;
	margin: 20px;
	font-family: "Circular-Std-Bold";
	font-size:18px;
}
header section#header div.right ul li.items .img{
	display: inline-block;
	margin-left: 200px;
}
header section#header div.right ul li.items{
	margin-right:50px; 
}
header section#header div.left{
	
}
header section#header div.left h1{
	align-items: center;
}
header section#header div.left h1 a.login{
	display: inline-block;
	color: white;
	font-family: "Circular-Std-Bold";
	font-size:18px;
}
header section#header div.left h1 a.sign-up{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 15px;
	font-family: "Circular-Std-Bold";
	font-size:18px;
	background-color: #2dca73;
	border-radius:5px;
	height: 60px;
	width: 120px;
}
#spotlight{

}
#spotlight section.wrapper{
	color: white;
	font-family: "Circular-Std-Bold";
	text-align:center;
	padding-top: 250px;
	padding-left: 50px;
}
#spotlight section.wrapper h1{
	font-size: 78px;
}
#spotlight section.wrapper p{
	font-size: 26px;
	font-family: "Circular-Std-Bold";
	margin-top: 30px;

}
#spotlight section.wrapper div#search{
	background-color: white;
	display:inline-block;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	width: 100%;
	height: 100px;
	margin-top: 80px;
}
#spotlight section.wrapper div#search input#searchInput{
	border: 1px #2dca73 solid;
	border-radius: 5px;
	height: 50px;
	width: 80%;
	margin:35px 20px 35px 20px;
	padding-left: 30px;	
}
#spotlight section.wrapper div#search a.searchButton{
	background-color: #2dca73;
	border-radius: 5px;
	height: 50px;
	width: 20%;
	padding: 15px;
	display: inline-block;
	color: white;
	margin:15px;
}
