section.body-container ul 
{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content:flex-start;
	column-count: 5;
	object-fit: contain;
}
section.body-container ul li 
{  
	width: auto;
	height: auto;  

}
section.body-container ul li img
{
	display: block;
	width: auto;
	height:auto; 
	padding:30px;
}
