* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}

.head-container
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
header.head-container img
{
	padding-left: 100px
}
section.head-container nav
{
	padding-top: 25px;
	padding-left: 225px
}
section.head-container nav a
{
	padding-left:70px;
	color: black;
	font-weight: bold;
	font-size: 20px;

}
/*section.head-container nav a:last-child
{
	padding-left: 0px;
}*/














