.container
{
	display: flex;
	background: #f5f5f5;
	width:100%;
	flex-direction: row-reverse;
	height: 5%;
	
}
.item
{
	background: #e4e4e4;
	width:30%;
	border-width: 20px;
	margin-right:2%;
	height: 3%;

}
