*
{
	padding: 0;
	margin:auto;
}

#header 
{
	
	display: block;
	color: white;
	height: 100px;

}

.imgs
{
	display: block;
	margin:0 auto;
}

#main 
{
	background-image:url(images/bg.jpg);
	height: calc(100vh - 100px);
	width: 100%;
	display: block;
	bottom:300px;

}
#heading
{
	font-family: 'Poppins', sans-serif;
	font-size: 90px;
	text-align: center;
	vertical-align: middle;
	color: #3f2a14;
	padding-top: 300px;

}

#heading2 , #para
{
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #3f2a14;
	vertical-align: middle;
	padding-top: 30px;

}

#para
{
	font-size: 40px; !important

	display: block;

}
#sectionMain
{
	vertical-align: middle;

}
